.container {
    display: flex;
    flex-direction: column;
    background: rgb(242, 242, 242);
    padding: 2rem;
}

.pageHeader {
    font-weight: bold;
    font-size: 1.2rem;
}

.numSurveysColor{
    color: #6f3096;
}

.btnWhite{
    background-color: white;
    box-shadow: 0 3px 8px #88888850;
}

.searchBarForm {
    text-align: right;
    padding-bottom: 1rem;
}

.sortBy{
    padding-right: 1rem;
    color: rgb(105, 105, 116);
}

.surveyListings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 18rem));
    gap: 2rem;
    justify-content: space-around;
}