#surveyForm {
    padding: 3%;
    background-color: white;
}

.sectionHeader {
    font-size: 130%;
    margin-bottom: 30px;
    font-weight: 600;
}

.formGroup {
    margin-bottom: 20px;
    font-weight: 400;
}

#section2 {
    margin-top: 50px;
}

#min-age {
    width: 10px;
}

.requiredField:after {
    content: "*";
    color: #e34646;
}

#description, #title, #link, #surveyType, #remunerationType, #gender, #otherRequirements, #closingDate, #remunerationAmount, .race {
    font-family: Roboto;
    font-size: 14px;
}

#closingDate {
    font-family: Roboto;
}

.validation {
    font-family: Roboto;
    font-size: 14px;
    color: #e34646;
    display: flex;
}

.errorMsg {
    margin-bottom: 0px;
}

#warningIcon {
    margin-right: 8px;
    align-self: center;
}