#imgUpload {
  display: none;
}

#labelImgUpload {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: #cccccc;
  width: 75%;
  margin: 0 auto;
}

.isDragged {
  background-color: #ffffff;
}

.dragArea {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Roboto;
}

.dragAreaText {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

.iconParent {
  margin: 0 auto;
}

.icon {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
}

.imagePreview {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  display: inline-block;
}

.container {
  position: relative;
  text-align: center;
}

.img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
  display: block;
}

.imgName {
  font-size: 10px;
}

.container:hover .img {
  opacity: 0.15;
  cursor: pointer;
}

.container:hover .hiddenTxt {
  opacity: 1;
  cursor: pointer;
}

.hiddenTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: 500;
  opacity: 0;
}
