#imgUpload {
    display: none;
}
  
#labelImgUpload {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: #cccccc;
    width: 75%;
    margin: 0 auto;
}

.isDragged {
    background-color: #ffffff;
}

.dragArea {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Roboto;
}

.dragAreaText {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}

.iconParent {
    margin: 0 auto;
}

.icon {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;

}

.imagePreview {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: inline-block;
 }

 .img {
     max-width: 100%;
     max-height: 100%;
     margin-top: 10px;
 }

 .imgName {
     font-size: 10px;
 }