.NUSurveysLogo {
    padding-left: 1rem;
    height: 45px;
    width: 100%;
}

.button {
    background-color: #06114F;
    color: #f9f9f9;
    font-size: 14px;
    font-weight: 600;
    width: 100px;
    height: 45px;
    margin-top: 20px;
    border-radius: 10px;
}

.mainBody {
    margin: auto;
    width: 50%;
    margin-top: 80px;
}

.title {
    font-family: Poppins;
    font-weight: 600;
    color: #06114F;
    font-size: 24px;
    margin-bottom: 30px;
}

.message {
    font-family: Roboto;
    font-size: 16px;
}


