.surveyCard {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px; 
    height: 330px;
    background-color: white;
}

.surveyCard__title {
    margin: 2rem 1rem 1rem;
    height: 2.5rem;
    overflow-y: hidden;
    font-weight: bold;
    font-size: 1rem;
}

.surveyCard__bookmark {
    position: absolute;
    right: 25px;
    height: 40px;
}

.surveyCard__description {
    margin: 0 1rem;
    overflow-y: hidden;
    max-height: 11rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(105, 105, 116);
    font-size: 0.8rem;
}

.surveyCard__btn {
    padding: 0.5rem;
    font-weight: bold;
    font-size: 0.65rem;
    margin: 0 8rem 1rem 1rem;
    border: 2px solid;
    border-radius: 0.5rem;
    background-color: rgb(6, 17, 79);
    color: white;
}

.closedTitle {
    color: #F87171;
}