.container {
    height: 100vh;

    display: grid;
    grid-template-rows: 66px 1fr 100px;
    /* might need to readjust navbar height */
}

.navbar {
    grid-row: 1/2;
}

.mainContent {
    grid-row: 2/3;
    padding: 2rem;
}

.searchBarForm {
    text-align: right;
}

.mySurveys {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 1.5rem;
    justify-content: space-around;
}

.surveyCard {
    overflow: hidden;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    background-color: white;
    border-color: rgb(237,148,139);
    width: 270px;
    height: 330px;
}

.surveyCardImage {
    height: 120px;
    width: 100px;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.surveyCardText {
    color: rgb(237,148,139);
    align-self: center;
}