.container {
    height: 100vh;

    display: grid;
    grid-template-rows: 62px 1fr 100px;
    /* might need to readjust navbar height */
}

.navbar {
    grid-row: 1/2;
}

.mainContent {
    grid-row: 2/3;
    padding: 2rem;
    background: rgb(242, 242, 242);
}

.pageHeader {
    font-weight: bold;
    font-size: 1.2rem;
}

.numSurveysColor {
    color: #6f3096;
}

.btnWhite {
    background-color: white;
    box-shadow: 0 3px 8px #88888850;
}

.searchBarForm {
    text-align: right;
    padding-bottom: 1rem;
}

.sortBy {
    padding-right: 1rem;
    color: rgb(105, 105, 116);
}

.searchBarForm {
    text-align: right;
}

.mySurveys {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 18rem));
    gap: 2rem;
    justify-content: space-around;
}

.surveyCard {
    overflow: hidden;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    background-color: white;
    border-color: rgb(237,148,139);
    /* border: 1px solid rgb(237,148,139); */
    width: 300px; 
    height: 360px;
    align-items: center;
}

.surveyCard:hover {
    border-width: 2px;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.surveyCardImage {
    height: 120px;
    margin-top: 4.2rem;
    margin-bottom: 2rem;
}

.surveyCardText {
    color: rgb(237,148,139);
    font-weight: bold;
}