.flexboxWrapper{
    display: flex;
    overflow: auto;
}

.flexboxSidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bodyContent{
    flex: 3;
}

.filter{
    height: 50px;
    background: rgba(237, 148, 139, 0.2);
    padding: 15px 15px;
}

.filterEligible{
    height: 50px;
    padding: 15px 15px;
}

.filterType{
    padding: 15px 15px;
}

.filterRenumeration {
    padding: 15px 15px;
}

.filterStatus {
    padding: 15px 15px;
}