h6 {
    font-weight: bold;
    font-size: 1em;
}

.container{
    display: flex;
    flex-direction: column;

    font-size: 0.8rem;
}

.header {
    background: rgba(237, 148, 139, 0.2);
    padding: 1rem;
    font-weight: bold;
}

.filterIcon {
    height: 15px;
    width: 15px;
    margin-bottom: 2px;
    margin-right: 0.25rem;
}

.filter {
    padding: 1rem 1.5rem;
}

.filterEligibility, .filterType, .filterRemuneration, .filterStatus {
    padding-bottom: 2rem;
}

.filterBtn{
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 0.5rem;
    /* padding: 0.3rem 0.8rem; */
    height: 30px;
    width: 55px;
    border: 1.5px solid;
    background-color: #06114F;
    color: white;
}

.eligibilityCheckbox {
    margin-left: 0.3rem;
}

.checkbox {
    margin-right: 0.25rem;
}

.cancelBtn {
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 0.5rem;
    background-color: #06114f;
    color: white;
    border-color: #06114f;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    border: 1.5px solid;
}

.cancelBtn:disabled {
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 0.5rem;
    background-color: #a9a9a9;
    color: white;
    border-color: #a9a9a9;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    border: 1.5px solid;
}