.container{
    display: flex;
    flex-direction: column;
}

.header {
    background: rgba(237, 148, 139, 0.2);
    padding: 1rem;
}

.filterIcon {
    height: 15px;
    width: 15px;
    margin-bottom: 2px;
    margin-right: 0.25rem;
}

.filter {
    padding: 1rem;
}

.filterEligibility, .filterType, .filterRenumeration, .filterStatus {
    padding-bottom: 2rem;
}

.checkbox {
    margin-right: 0.25rem;
}