.NUSurveysLogo {
  padding-left: 1rem;
  height: 45px;
  width: 100%;
}

.container {
  background-color: #f9f9f9;
  height: 100vh;
}

.formTitle {
  font-size: 24px;
  color: #06114f;
  font-weight: 900;
}

#formwrapper {
  margin-top: 100px;
}

#submit {
  background-color: #06114f;
  color: #f9f9f9;
  width: 165px;
  margin-top: 50px;
}

.email {
  font-size: 16px;
  font-weight: 600;
  color: #06114f;
}

.formDesc {
  margin-bottom: 30px;
  color: #696974;
  font-size: 14px;
}

#confirmationMsg {
  background-color: #cce9e4;
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  margin-bottom: 30px;
  font-size: 14px;
}

#errorMsg {
  background-color: #ecc8c5;
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  margin-bottom: 30px;
  font-size: 14px;
}

#checkmarkIcon {
  margin-right: 8px;
  align-self: center;
  color: #00bfa2;
}

#xmarkIcon {
  margin-right: 8px;
  align-self: center;
  color: #a7171a;
}
